*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#hero-img{
    margin: 50px;
    padding: 40px;
}
#hero-img img{
    width: 90px;
    height: auto;
    border-radius: 10px;
}

.first-section{
    display: flex;
    background-color: #413C58;
    color: white;
}

.nav{
    display: flex;
    padding: 70px;
    
}
.link-nav{
    align-items: center;
    justify-content: space-around;
    margin: 60px;
}